.containerf {
    margin: auto;
    background: #696969;
    
    height: 60px;
    width: 1040px;
  }
.rowf { 
  display: flex;
  color: #F5F5DC;
}
.colf {
  flex: 100%;
  text-align:  center;
  vertical-align: baseline;
  
  margin-top: 20px;
}